$primary: #903174;
$secondary: #CD5888;

$light: #E9E8E8;
$dark: #20262e; //rgb(32, 38, 46)

$lighter: #bfbfbf;
$lighDark: #2a2d31;

$headingSize: 3rem;
$subHeadingSize: 2rem;
$contentSize: 1.5rem;

$menuBtnSize: 2.5rem